In [7]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies & Setup
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
# Files to load
energy_contracts_to_load = "Resources/data/clean/clean_contracts.csv"
clean_indices_to_load = "Resources/data/clean/clean_indices.csv"
clean_prices_to_load = "Resources/data/clean/clean_prices.csv"

In [9]:
# Read files & store in pandas DataFrame
energy_contracts_df = pd.read_csv(energy_contracts_to_load)
indices_df = pd.read_csv(clean_indices_to_load)
prices_df = pd.read_csv(clean_prices_to_load)

In [10]:
energy_contracts_df.head()

,Month,naics_description,product_or_service_code_description,total_obligated_amount,recipient_name,funding_sub_agency_name
0,2016M01,ALL OTHER NONMETALLIC MINERAL MINING,"MINERAL CONSTRUCTION MATERIALS, BULK",3127.50,PRIME ONE GENERAL TRADING & CONTRACTING CO. WLL,DEPT OF THE AIR FORCE
1,2016M01,ALL OTHER NONMETALLIC MINERAL MINING,"MINERAL CONSTRUCTION MATERIALS, BULK",3968.67,PRIME ONE GENERAL TRADING & CONTRACTING CO. WLL,DEPT OF THE AIR FORCE
2,2016M01,BITUMINOUS COAL UNDERGROUND MINING,"FUELS, SOLID",351038.45,"DELTA COALS, LLC",DEPT OF THE NAVY
3,2016M01,CONSTRUCTION SAND AND GRAVEL MINING,"BUILDING COMPONENTS, PREFABRICATED",10341.15,MISCELLANEOUS FOREIGN AWARDEES,"STATE, DEPARTMENT OF"
4,2016M01,CONSTRUCTION SAND AND GRAVEL MINING,CONSTRUCTION OF AMMUNITION FACILITIES,140539.74,FOREIGN AWARDEES (UNDISCLOSED),"STATE, DEPARTMENT OF"

In [11]:
indices_df.head()

,Month,Energy,Non_Energy,Agriculture,Agriculture_Beverages,Agriculture_Food,Agriculture_Oils_Meals,Agriculture_Grains,Agriculture_Other_Food,Raw_Materials,Raw_Materials_Timber,Raw_Materials_Other,Fertilizers,Metals_Minerals,Metals_Minerals_Base_Metals,Precious_Metals
0,2016M01,40.86,74.03,82.30,86.05,83.11,77.99,82.77,90.16,78.43,92.15,63.43,90.32,55.21,61.37,84.73
1,2016M02,42.84,74.60,82.53,84.82,83.82,79.84,82.61,90.14,78.26,92.24,62.96,80.30,57.68,63.63,92.31
2,2016M03,48.74,76.99,84.41,88.42,85.85,81.71,82.90,93.96,78.89,92.12,64.42,82.00,61.19,66.46,95.59
3,2016M04,52.28,78.83,86.89,89.81,88.46,86.97,84.31,94.19,81.60,93.21,68.90,81.36,62.00,66.70,96.30
4,2016M05,57.65,79.95,89.62,90.92,92.47,92.40,85.90,98.50,82.05,94.45,68.50,81.09,59.98,65.14,98.12

In [12]:
prices_df.head()

,Month,"Crude oil, average","Crude oil, Brent","Crude oil, Dubai","Crude oil, WTI","Coal, Australian","Coal, South African **","Natural gas, US","Natural gas, Europe **","Liquefied natural gas, Japan",...,Aluminum,"Iron ore, cfr spot",Copper,Lead,Tin,Nickel,Zinc,Gold,Platinum,Silver
0,2016M01,29.78,30.80,27.00,31.54,49.02,49.09,2.27,4.40,8.40,...,1481.10,41.88,4471.79,1646.20,13808.08,8507.29,1520.36,1097.91,855.25,14.11
1,2016M02,31.03,33.20,29.50,30.39,50.27,50.33,1.96,3.97,8.56,...,1531.26,46.83,4598.62,1765.75,15610.14,8298.50,1709.85,1199.50,919.35,15.17
2,2016M03,37.34,39.07,35.18,37.77,52.21,52.57,1.70,3.91,7.74,...,1531.01,56.20,4953.80,1802.19,16897.60,8717.25,1801.69,1245.14,967.73,15.47
3,2016M04,40.75,42.25,39.04,40.96,50.69,52.35,1.90,3.97,6.82,...,1571.23,60.92,4872.74,1732.27,17032.71,8878.86,1855.37,1242.26,994.19,16.36
4,2016M05,45.94,47.13,43.95,46.73,51.31,54.24,1.92,4.33,6.27,...,1550.63,55.13,4694.54,1707.80,16706.95,8660.35,1869.03,1260.95,1035.86,16.95

In [ ]:
# look to compare clean_contracts.csv to clean_prices.csv